<div class="container">
  <footer class="footer">
    <small>
      This is a Roscoe production. <a href="https://www.google.com">Go to Google.</a>
      by a <a href="http://www.msnbc.com">news site</a>
    </small>
    <nav>
      <ul>
        <li><% link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>